<p id="notice"><%= notice %></p>

<button class="button is-danger"><%= link_to 'Create new Polaroid', new_polaroid_path %></button>
<div class="container">

  <% @polaroids.each do |polaroid| %>
    <div class="card">

      <div class="card-image">
        <%= link_to image_tag(polaroid.image, style:"width:100%"), polaroid %>
      </div>

      <div class="polaroid-content">
        <div class="card-content">

          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= polaroid.title %></p>
            </div>
          </div>

          <div class="content">
          <%= polaroid.comment %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
