<p id="notice"><%= notice %></p>

<button class="button is-danger"><%= link_to 'Create new Polaroid', new_test_path %></button>
<div class="container">

  <% @tests.each do |test| %>
    <div class="card">

      <div class="card-image">
        <%= image_tag(test.image, style:"width:100%") %>
      </div>

      <div class="polaroid-content">
        <div class="card-content">

          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= test.title %></p>
            </div>
          </div>

          <div class="content">
          <%= test.comment %>
          </div>
        </div>

        <div class="card-footer">
          <div class="card-footer-item"><%= link_to 'Show', test %></div>
          <div class="card-footer-item"><%= link_to 'Edit', edit_test_path(test) %></div>
          <div class="card-footer-item"><%= link_to 'Delete', test, method: :delete, data: { confirm: "Are you sure you want to delete this Polaroid?" } %></div>
        </div>
      </div>
      
    </div>
    
  <% end %>
  
</div>
